<div class="flex flex-col items-center justify-center min-h-screen">
  <div class="py-4 mb-4">
    <h3>Register</h3>
  </div>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 min-w-96"
  >
    @if (error) {
      <div class="errorBox">
        <p>{{ error }}</p>
      </div>
    }
    <div>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="block w-full"
      />
      @if (
        registerForm.get("name")?.errors?.["required"] &&
        registerForm.get("name")?.touched
      ) {
        <p class="text-red-600">UserName is Mandatory</p>
      } @else if (
        registerForm.get("name")?.errors?.["minlength"] &&
        registerForm.get("name")?.touched
      ) {
        <p class="text-red-600">Name should be at least 3 characters</p>
      }
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="block w-full"
      />
      @if (
        registerForm.get("email")?.errors?.["required"] &&
        registerForm.get("email")?.touched
      ) {
        <p class="text-red-600">email is Mandatory</p>
      } @else if (
        registerForm.get("email")?.errors?.["email"] &&
        registerForm.get("email")?.touched
      ) {
        <p class="text-red-600">Invalid Email</p>
      }
    </div>

    <div>
      <label for="phone">Phone</label>
      <input
        type="text"
        id="phone"
        formControlName="phone"
        class="block w-full"
      />
      @if (
        registerForm.get("phone")?.errors?.["required"] &&
        registerForm.get("phone")?.touched
      ) {
        <p class="text-red-600">phone is Mandatory</p>
      } @else if (
        registerForm.get("phone")?.errors?.["minlength"] &&
        registerForm.get("phone")?.touched
      ) {
        <p class="text-red-600">phone should be 10 characters number</p>
      }
    </div>
    <div>
      <label for="address">Address</label>
      <input
        type="text"
        id="address"
        formControlName="address"
        class="block w-full"
      />
      @if (
        registerForm.get("address")?.errors?.["required"] &&
        registerForm.get("address")?.touched
      ) {
        <p class="text-red-600">address is Mandatory</p>
      }
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        formControlName="password"
        class="block w-full"
      />
      @if (
        registerForm.get("password")?.errors?.["required"] &&
        registerForm.get("password")?.touched
      ) {
        <p class="text-red-600">password is Mandatory</p>
      } @else if (
        registerForm.get("password")?.errors?.["minlength"] &&
        registerForm.get("password")?.touched
      ) {
        <p class="text-red-600">password should be at least 8 characters</p>
      }
    </div>
    <div class="flex justify-between">
      <button [disabled]="!registerForm.valid || isLoading">
        {{ isLoading ? "Loading.." : "Register" }}
      </button>
      <span
        ><a
          [routerLink]="['/login']"
          routerLinkActive="login"
          class="font-semibold text-blue-700 underline"
          >Login Here</a
        >&rarr;</span
      >
    </div>
  </form>
</div>
