<section class="flex justify-center">
  <div class="container">
    <div>
      <h3>Your Orders</h3>
    </div>
    <table class="w-full table-auto">
      <thead>
        <tr>
          <td>S.N.</td>
          <td>Ingredient</td>
          <td>Quantity</td>
          <td>Price</td>
          <td>Delivered</td>
          <td>Paid</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Goat cheese, Bacon, Spicy Sauce, paner, Greek base</td>
          <td>2</td>
          <td>1000</td>
          <td>Not Delivered</td>
          <td>Not Paid</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
