<section class="flex justify-center">
  <div class="container">
    <div>
      <h3>Your Orders</h3>
    </div>
    <table class="w-full table-auto">
      <thead>
        <tr>
          <td>S.N.</td>
          <td>Ingredient</td>
          <td>Quantity</td>
          <td>Price</td>
          <td>Delivered</td>
          <td>Paid</td>
        </tr>
      </thead>
      <tbody>
        @for (order of yourOrders; track order._id; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>
              {{ order.pizzaBase.name }}, {{ order.sauceType.name }},{{
                order.cheeseType.name
              }}, {{ order.veggies[0].name }}, {{ order.nonVeg[0].name }}
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.isDelivered ? "Delivered" : "not Delivered" }}</td>
            <td>{{ order.paid ? "paid" : "not Paid" }}</td>
          </tr>
        } @empty {
          <tr class="flex justify-center w-full">
            Your Orders is Empty
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
